.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}
.cartcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 5px;
    border: 2px solid lawngreen;
}
.cartcontainer img{
    width: 25%;
    margin: 3px;
    border-radius: 50px;
}
.cartcontainer p{
    font-size: small;
    margin: 3px;
}