.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-contaiener{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    
}
.cart-container{
    background-color: lightgreen;
}